doctype html
html(lang='en')
  include ../common/head.pug
  +head("Freeza - History")

  body
    header
      include ../common/navbar.pug
      +navbar()
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md-5
            h1 History
            table.table
              thead
                tr
                  th(scope="col") Timestamp
                  th(scope="col") Weight
                tr
              tbody                
                for record in history
                  tr(id=record.user_id)
                    td
                      span #{record.updatedAt}
                    td
                      span #{record.weight}
    include ../common/footer.pug
    +footer()
    script(src='/javascripts/leads.js')
